 <a href="/questions/<%=question.id%>"><%= question.title %> </a>(Asked <%=question.time_ago_in_words(question.created_at)%> by <a href="/users/<%=question.user.id%>"><%=question.user.username%></a>) <br>
