<h1><%= @question.title %></h1>
<p>Created by: <%= @question.user.username %></p>
<p><%= @question.body %></p>
<a href="/questions/<%=@question.id%>/edit">edit question</a>

<%= erb :'_errors' %>

<h3>answers</h3>
<a href="/questions/<%= @question.id %>/answers/new">submit new answer</a>
<% if @question.answers.count > 0 %>
  <ul>
    <% @question.answers.each do |a| %>
      <p><%= a.body %></p>
    <% end %>
  </ul>
<% end %>

<h3>comments</h3>
<a href="/questions/<%= @question.id %>/comments/new">submit new answer</a>
<% if @question.comments.count > 0 %>
  <ul>
      <% @question.comments.each do |c| %>
        <p><%= c.body %><p>
      <% end %>
  </ul>
<% end %>
