<h1><%= @question.title %></h1>
<p>Created by: <%= @question.user.username %></p>
<p><%= @question.body %></p>

<% if @question.answers.count > 0 %>
  <h3>answers</h3>
  <% @question.answers.each do |a| %>
    <p><%= a.body %></p>
  <% end %>
<% end %>


<% if @question.comments.count > 0 %>
  <h3>comments</h3>
  <% @question.comments.each do |c| %>
    <%= c.body %>
  <% end %>
<% end %>

<%= erb :'_errors' %>

<a href="/questions/<%=@question.id%>/edit">Edit</a>
