<h1><%= @question.title %></h1>
<p>Created by: <%= @question.user.username %></p>
<p><%= @question.body %></p>
<a href="/questions/<%=@question.id%>/edit">edit question</a>

<%= erb :'_errors' %>

<h2>Answers</h2>
<a href="/questions/<%= @question.id %>/answers/new">Submit New Answer</a>
<% if @question.answers.count > 0 %>
  <ul>
    <% @question.answers.each do |a| %>
    <span><li><%= a.body %> <a href="/questions/<%=@question.id%>/answers/<%=a.id%>/edit">edit</a></span></li>
    <% end %>
  </ul>
<% end %>

<div id="edit-section">
  <a id="edit-button" href="/questions/<%=@question.id%>/edit">Edit</a>
</div>

<div id="comment-section">
  <a id="new-comment" href="/questions/<%=@question.id%>/comments/new">Comment</a>
</div>

<h2>Comments</h2>
<a href="/questions/<%= @question.id %>/comments/new">Submit New Comment</a>
<% if @question.comments.count > 0 %>
  <ul>
      <% @question.comments.each do |c| %>
      <span><li><%= c.body %> <a href="/questions/<%=@question.id%>/comments/<%=c.id%>/edit">edit</a></span></li>
    <% end %>
  </ul>
<% end %>
