<h1>Question</h1>

<div id="question-info">
  <h2><%= @question.title %></h2>
  <p><%= @question.body %> (Asked by <a href="/users/<%=@question.user.id%>"><%=@question.user.username%></a> <%=@question.time_ago_in_words(@question.created_at)%> ago.)</p>
</div>

<% if require_owner(@question.user.id) %>
  <div id="edit-section">
    <a id="edit-question" href="/questions/<%=@question.id%>/edit">Edit Question</a>
  </div>
<% end %>

<%= erb :'_errors' %>

<h2>Answers</h2>
<div>
  <a href="/questions/<%= @question.id %>/answers/new">Answer</a>
</div>
<% if @question.answers.count > 0 %>
  <ul>
    <% @question.answers.each do |a| %>
      <p><%= a.body %> (Answered <%=a.time_ago_in_words(a.created_at)%> by <a href="/users/<%=a.user.id%>"><%=a.user.username%></a>.)</p>
    <% end %>
  </ul>
<% end %>

<h2>Comments</h2>
<div id="comment-section">
  <a id="new-comment" href="/questions/<%=@question.id%>/comments/new">Comment</a>
</div>
<% if @question.comments.count > 0 %>
  <ul>
      <% @question.comments.each do |c| %>
        <p><%= c.body %> (Commented on <%=c.time_ago_in_words(c.created_at)%> ago by <a href="/users/<%=c.user.id%>"><%=c.user.username%></a>.)<p>
    <% end %>
  </ul>
<% end %>
