<h2><%= @question.title %></h2><br>
<p>Created by: <%= @question.user.username %></p>

<h3>comments</h3>

<% if @question.comments %>
  <% @question.comments.each do |c| %>
    <%= c.body %>
  <% end %>
<% end %>

<%= erb :'_errors' %>



<a href="/questions/<%=@question.id%>/edit">Edit</a>

<div id="comment-section">
  <a id="new-comment" href="/questions/<%=@question.id%>/comments/new">Comment</a>
</div>

