<h1><%= @user.username %>'s questions and answers.</h1>

<h2>Asked Questions</h2>
<ul>
  <% if @user.questions %>
    <% @user.questions.each do |q| %>
    <li>
      <a href="/questions/<%= q.id %>"><%= q.body %></a>
      <span>(Asked <%=q.time_ago_in_words(q.created_at)%>)</span>
      <% if logged_in? %>
        <%= erb :'questions/_edit_delete', locals: { question: q }%>
      <% end %>
    </li>
    <% end %>
  <% end %>
</ul>

<div>
  <h2>Contributed Answers</h2>
    <ul>
      <%if @user.answers %>
      <%@user.answers.each do |answer|%>
        <li><a href="/questions/<%=answer.question.id%>"><%= answer.question.title %></a>(Asked <%=answer.question.time_ago_in_words(answer.question.created_at)%> by <a href="/users/<%=answer.question.user.id%>"><%=answer.question.user.username%>)</a></li>
          <ul>
            <li><%= answer.body %> (Answered <%=answer.time_ago_in_words(answer.created_at)%>)</li>
          </ul>
       <%end%>
      <%end%>
    </ul>
</div>
