<ul>
  <% if @errors %>
   <% @errors.each do |error| %>
      <li><%= error %></li>
   <% end %>
  <% end %>
</ul>

<h2><%=@question.title%></h2>
<h2><%=@question.body%></h2>

<form action="/questions/<%=@question.id%>/answers/<%=@answer.id%>" method="post">
  <input type="hidden" name="_method" value="put">
  <input type="text" name="body" value="<%=@answer.body%>">
  <input type="submit" value="Save Edit">
</form>
